@import "./variables.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  /* overflow-x: hidden; */
  overflow-y: visible;  

}

body {
  font-family: var(--font-base);
  background: var(--color-bg);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

ul {
  list-style: none;
}

.app-shell {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.page {
  width: 100%;
  padding: 16px;
  padding-bottom: calc(var(--bottomnav-height) + 16px);
}
